@import "https://fonts.googleapis.com/css?family=Poppins";

@media (min-width: 830px) {
  .nav-container {
    width: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
  }

  .humberger-container {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    height: 35px;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #6070ff;
    display: flex;
  }

  body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
  }

  .body-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    height: 60vh;
    width: 75vh;
    padding: 128px 1.5rem 1.5rem;
    background-image: url("header-shapes-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.4px;
    color: #091e42;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #344563;
    width: 60vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-media {
    display: flex;
    justify-content: start;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 830px) {
  .nav-container {
    width: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
  }

  .humberger-container {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 0;
  }

  .logo {
    padding-top: 0;
    align-self: flex-start;
  }

  .logo h2 {
    margin-top: 0;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #6070ff;
    display: flex;
  }

  body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 65vh;
  }

  .body-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    height: 10vh;
    background-image: url("header-shapes-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 1.5rem 1.5rem;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #091e42;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #344563;
    width: 55vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 15vh;
  }
}

@media (max-width: 500px) {
  .humberger {
    width: 25px;
    height: 2px;
    background-color: #6070ff;
  }

  header {
    padding: 1.5rem;
  }

  .nav-container {
    display: none;
  }

  .humberger-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 20px;
  }

  .humberger:hover {
    background-color: #748392;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 25px;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6070ff;
    text-decoration: none;
    text-align: center;
  }

  .social-media-icons li {
    display: flex;
    justify-content: space-between;
  }

  body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65vh;
   
  }

  .body-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    height: 45vh;
    background-image: url("header-shapes-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-bottom: -9px;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #344563;
    width: 40vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: -5px;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 22vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .second-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    /* margin-left: 35px; */
    align-self: center;
  }
  .second-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .second-section p {
    margin-top: -5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section .canopy {
    list-style-type: none;
  }
  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }
  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .second-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396DF2;
  }

  .third-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    /* margin-left: 35px; */
    align-self: center;
  }
  .third-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .third-section p {
    margin-top: -5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }
 
  .title-section .canopy {
    list-style-type: none;
  }
  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }
  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .third-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396DF2;
  }


  .fourth-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    /* margin-left: 35px; */
    align-self: center;
  }
  .fourth-section h1 {
    text-align:start;
    width: 295px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fourth-section p {
    margin-top: -5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }
  
  .title-section .canopy {
    list-style-type: none;
  }
  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }
  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .fourth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396DF2;
  }


  .fivth-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    /* margin-left: 35px; */
    align-self: center;
  }
  .fivth-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fivth-section p {
    margin-top: -5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: -47px;
    width: 421px;
    color: #7A869A;
  }
  .title-section .canopy {
    list-style-type: none;
  }
  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }
  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .fivth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396DF2;
  }



  .about-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    /* margin-left: 35px; */
    align-self: center;
  }
  .about-section .get-my-resume {
    text-align: center;
   
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    color: #396DF2;

  }

  .about-section .about-myself {
    text-align: left;
    width: 295px;
    height: 75px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;    
    color: #172B4D;
  }
  
  .about-section p {
    margin-top: -5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: -47px;
    width: 421px;
    color: #7A869A;
  }
  .title-section .canopy {
    list-style-type: none;
  }
  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }
  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }
  .about-section{
    margin-top: 300px;
  }

  .about-section input {
    border: 1px #6070ff solid;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396DF2;
  }

  .about-section .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 28vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .about-section .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }
  .about-section .social-media-icons ul li #linkedin{
  width: 7px; 
  margin:0;
  padding: 0;
}
.about-section .language-icons li {
  display: flex;
  align-items: flex-start;
  margin-left: -40px;
  margin-top: 20px;
  background-color: #f7f7f9;;
  height: 70px;
  width: 300px;  
  border-radius: 5px;
}

.about-section .language{
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-left: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}

.about-section .language li img{
  margin-top: 25px;
  margin-left: 7px;
 height: 15px;
 width: 15px;
 }


.about-section .language-icons li h4{
  margin-left: 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}
.about-section .language-icons li img{
 margin-top: 10px;
 margin-left: 7px;

}

.about-myself .right-arrow{
  height: 15px;
 width: 15px;
}


.about-section .titles{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about-section .titles li{
  display: flex;
  justify-content: space-between;
  
}

.about-section .titles li img{
  height: 15px;
  width: 15px;
}


.about-section .titles li h4{
  margin-left: 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}
.about-section .titles li img{
 margin-top: 25px;
 margin-left: 7px;

}

.about-section .titles{
  padding-left: 0px;
  margin-left: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}


}

ul {
  list-style: none;
}
