@import "https://fonts.googleapis.com/css?family=Poppins";

@media (min-width: 830px) {
  .nav-container {
    width: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
  }

  .humberger-container {
    display: none;
  }

  .logo {
    padding-top: 0;
    align-self: flex-start;
  }

  .logo h2 {
    margin-top: 0;
  }

  .body-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    height: 45vh;
    width: 80vh;
    padding: 140px 1.5rem 1.5rem;
    margin-bottom: 300px;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
  }

  header {
    padding: 1.5rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 25px;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6070ff;
    text-decoration: none;
    text-align: center;
  }

  .social-media-icons li {
    display: flex;
    justify-content: space-between;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 65vh;
    background-image: url("Header-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-content: center;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-bottom: -9px;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #344563;
    width: 90vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: -5px;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 22vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .second-section {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    margin-left: 50px;
  }

  .second-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .second-section .snapshot-img {
    width: 480px;
    height: 370px;
  }

  .second-section p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section .canopy {
    list-style-type: none;
  }

  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    justify-content: space-between;
    list-style: none;
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }

  .second-section input {
    border: 1px #6070ff solid;
    width: 200px;
    font-size: 18px;
    border-radius: 8px;
    height: 50px;
    background-color: #396df2;
    color: white;
    padding: 5px 20px;
  }

  .second-section input:hover {
    border: 1px #6070ff solid;
    background-color: white;
    color: #396df2;
  }

  .third-section {
    margin-top: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 150px;
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 90%;
    margin-left: 40px;
    padding-left: 50px;
  }

  .third-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .third-section .snapshot-img {
    order: 5;
    width: 480px;
    height: 370px;
    margin-left: 70px;
    margin-right: 90px;
  }

  .third-section p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .third-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .third-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fourth-section {
    margin-top: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 3/4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 90%;
    border-radius: 10px;
    margin-left: 40px;
    padding-left: 25px;
  }

  .fourth-section .snapshot-img {
    width: 480px;
    height: 370px;
  }

  .fourth-section h1 {
    text-align: start;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fourth-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .fourth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fourth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fivth-section {
    margin-top: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 150px;
    grid-column: 1/2;
    grid-row: 4/5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 90%;
    margin-left: 40px;
    padding-left: 50px;
  }

  .fivth-section .snapshot-img {
    order: 5;
    width: 480px;
    height: 370px;
    margin-left: 100px;
  }

  .fivth-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fivth-section p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
    width: 50%;
  }

  .title-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding-left: 0;
    margin-left: -47px;
    width: 421px;
    color: #7a869a;
  }

  .fivth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fivth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .about-section {
    margin-top: 300px;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    width: 75vh;
  }

  .about-section .get-my-resume {
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    color: #396df2;
  }

  .about-section .about-myself {
    text-align: left;
    width: 295px;
    height: 75px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #172b4d;
  }

  .about-section p {
    margin-top: -5px;
    margin-right: 50px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .about-section input {
    border: 1px #6070ff solid;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .about-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .about-section .language-icons li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -40px;
    background-color: #f7f7f9;
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }

  .about-section .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 28vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .about-section .titles li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .social-media-icons ul li #linkedin {
    width: 7px;
    margin: 0;
    padding: 0;
  }

  .about-section .language-icons {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
  }

  .about-section .language {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .language li img {
    margin-top: 25px;
    margin-left: 7px;
    height: 15px;
    width: 15px;
  }

  .about-section .language-icons li h4 {
    margin-left: 15px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .about-section .language-icons li img {
    margin-top: 10px;
    margin-left: 7px;
  }

  .about-myself .right-arrow {
    height: 15px;
    width: 15px;
  }

  .about-section .titles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
  }

  .about-section .titles li img {
    height: 15px;
    width: 15px;
    margin-top: 25px;
    margin-left: 7px;
  }

  .about-section .titles li h4 {
    margin-left: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .contact-section {
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: 100vh;
    width: 70vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    flex-direction: column;
    column-gap: 40px;
    background-image: url("./contact-bg.svg");
  }

  .contact-section h1 {
    text-align: center;
  }

  .contact-section p {
    text-align: center;
  }

  .contact-section form input {
    width: 75vh;
    height: 30px;
    margin-top: 30px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: 1px solid #6070ff;
  }

  .contact-section form input[type="button"] {
    width: 20vh;
    height: 40px;
    margin-left: 150px;
    border-radius: 3px;
    color: #6070ff;
    background-color: white;
  }

  .contact-section form input[type="button"]:hover {
    color: #c3c8f1;
    background-color: rgb(197, 184, 184);
  }

  .about-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .contact-section textarea {
    margin-top: 30px;
    resize: none;
    border-radius: 3px;
  }
}

@media (max-width: 830px) {
  .nav-container {
    width: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #344563;
  }

  .humberger-container {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 25px;
  }

  .logo {
    padding-top: 0;
    align-self: flex-start;
  }

  .logo h2 {
    margin-top: 0;
  }

  .body-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    background-image: url("header-shapes-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 1.5rem 1.5rem;
    height: 45vh;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
  }

  header {
    padding: 1.5rem;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6070ff;
    text-decoration: none;
    text-align: center;
  }

  .social-media-icons li {
    display: flex;
    justify-content: space-between;
  }

  body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65vh;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-bottom: -9px;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #344563;
    width: 40vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: -5px;
  }

  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 22vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .second-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .second-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .second-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section .canopy {
    list-style-type: none;
  }

  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }

  .second-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .third-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .third-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .third-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .third-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .third-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fourth-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .fourth-section h1 {
    text-align: start;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fourth-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .fourth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fourth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fivth-section {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .fivth-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fivth-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .fivth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fivth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .about-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .about-section .get-my-resume {
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    color: #396df2;
  }

  .about-section .about-myself {
    text-align: left;
    width: 295px;
    height: 75px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #172b4d;
  }

  .about-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding-left: 0;
    margin-left: -47px;
    width: 421px;
    color: #7a869a;
  }

  .about-section input {
    border: 1px #6070ff solid;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .about-section .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 28vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .about-section .titles li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .language-icons li {
    display: flex;
    align-items: flex-start;
    margin-left: -40px;
    margin-top: 20px;
    background-color: #f7f7f9;
    height: 70px;
    width: 300px;
    border-radius: 5px;
  }

  .about-section .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .social-media-icons ul li #linkedin {
    width: 7px;
    margin: 0;
    padding: 0;
  }

  .about-section .language {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .language li img {
    margin-top: 25px;
    margin-left: 7px;
    height: 15px;
    width: 15px;
  }

  .about-section .language-icons li h4 {
    margin-left: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .language-icons li img {
    margin-top: 10px;
    margin-left: 7px;
  }

  .about-myself .right-arrow {
    height: 15px;
    width: 15px;
  }

  .about-section .titles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .titles li img {
    height: 15px;
    width: 15px;
    margin-top: 25px;
    margin-left: 7px;
  }

  .about-section .titles li h4 {
    margin-left: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .contact-section {
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: 100vh;
    width: 70vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    flex-direction: column;
    column-gap: 40px;
    background-image: url("./contact-bg.svg");
  }

  .contact-section h1 {
    text-align: center;
  }

  .contact-section p {
    text-align: center;
  }

  .contact-section form input {
    width: 75vh;
    height: 30px;
    margin-top: 30px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: 1px solid #6070ff;
  }

  .contact-section form input[type="button"] {
    width: 20vh;
    height: 40px;
    margin-left: 150px;
    border-radius: 3px;
    color: #6070ff;
    background-color: white;
  }

  .contact-section form input[type="button"]:hover {
    color: #c3c8f1;
    background-color: rgb(197, 184, 184);
  }

  .second-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .contact-section textarea {
    margin-top: 30px;
    resize: none;
    border-radius: 3px;
  }
}

@media (max-width: 500px) {
  .humberger {
    width: 25px;
    height: 2px;
    background-color: #6070ff;
  }

  header {
    padding: 1.5rem;
  }

  .nav-container {
    display: none;
  }

  .humberger-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 20px;
  }

  .humberger:hover {
    background-color: #748392;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 25px;
  }

  nav a {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #6070ff;
    text-decoration: none;
    text-align: center;
  }

  .social-media-icons li {
    display: flex;
    justify-content: space-between;
  }

  body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65vh;
  }

  .body-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    height: 45vh;
    background-image: url("header-shapes-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-bottom: -9px;
  }

  .detail {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #344563;
    width: 40vh;
  }

  .social-media-connect {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: -5px;
  }

  .language-section li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 22vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .second-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .second-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .second-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    padding-left: 0;
    border-radius: 8px;
  }

  .second-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .second-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .third-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .third-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .third-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .third-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .third-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fourth-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .fourth-section h1 {
    text-align: start;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fourth-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .fourth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fourth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .fivth-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .fivth-section h1 {
    text-align: left;
    width: 295px;
    height: 36px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
  }

  .fivth-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .fivth-section input {
    border: 1px #6070ff solid;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .fivth-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .about-section {
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    align-self: center;
  }

  .about-section .get-my-resume {
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    color: #396df2;
  }

  .about-section .about-myself {
    text-align: left;
    width: 295px;
    height: 75px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #172b4d;
  }

  .about-section p {
    margin-top: -5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }

  .title-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding-left: 0;
    margin-left: -47px;
    width: 421px;
    color: #7a869a;
  }

  .title-section .canopy {
    list-style-type: none;
  }

  .title-section .backend {
    list-style-type: disc;
  }

  .title-section .year {
    list-style-type: disc;
  }

  .about-section input {
    border: 1px #6070ff solid;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: #396df2;
  }

  .about-section input:hover {
    background-color: #86a3eb;
    color: white;
  }

  .about-section .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 28vh;
    padding-left: 0;
    margin-top: -10px;
  }

  .about-section .titles li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .language-icons li {
    display: flex;
    align-items: flex-start;
    margin-left: -40px;
    margin-top: 20px;
    background-color: #f7f7f9;
    height: 70px;
    width: 300px;
    border-radius: 5px;
  }

  .about-section .social-media-icons ul li #linkedin {
    width: 7px;
    margin: 0;
    padding: 0;
  }

  .about-section .social-media-icons ul li {
    display: flex;
    justify-content: space-between;
  }

  .about-section .language {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .language li img {
    margin-top: 25px;
    margin-left: 7px;
    height: 15px;
    width: 15px;
  }

  .about-section .language-icons li h4 {
    margin-left: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .language-icons li img {
    margin-top: 10px;
    margin-left: 7px;
  }

  .about-myself .right-arrow {
    height: 15px;
    width: 15px;
  }

  .about-section .titles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .about-section .titles li img {
    height: 15px;
    width: 15px;
    margin-top: 25px;
    margin-left: 7px;
  }

  .about-section .titles li h4 {
    margin-left: 25px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .contact-section {
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: 100vh;
    width: 30vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    flex-direction: column;
    column-gap: 40px;
    background-image: url("./contact-bg.svg");
  }

  .contact-section h1 {
    text-align: center;
  }

  .contact-section p {
    text-align: center;
  }

  .contact-section form input {
    width: 35vh;
    height: 30px;
    margin-top: 30px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: 1px solid #6070ff;
  }

  .contact-section form input[type="button"] {
    width: 15vh;
    height: 40px;
    margin-left: 150px;
    border-radius: 3px;
    color: #6070ff;
    background-color: white;
  }

  .contact-section form input[type="button"]:hover {
    color: #c3c8f1;
    background-color: rgb(197, 184, 184);
  }
  .contact-section textarea {
    resize: none;
    margin-top: 30px;
    border-radius: 3px;
    width: 35vh;
  }
}

ul {
  list-style: none;
}
